<html>
    <head>
    <title>Vrouteur </title>    

    <script>
    
    </script>
    </head>




    <!-- <body onload="zezo()"> -->
    <body>       
        <!-- <h1 style='color:blue'><center> Vrouteur {{nom}} pour {{valeur}}</center></h1> -->
        <h2>Accueil</h2>

        
        <h3><a href='windbase?urlBeta=tara&lat=-52.08007357410557&lon=-59.757314691931725&userid=59c2706db395b292ed622d84&username=Takron-CAF&teamname=La%20Cage%20Aux%20Foils&type=me&ts=1643116800&o=244&twa=-132.79223&tws=20.4&twd=247.87707&auto=yes&race=470.10&rank=852&voile=HG&depart=-1&source=dashmap'>Windbase </a></h3> 
          
        <h3><a href='windbase2'> Routeur </a></h3>  
        <h3><a href='windybase'> Base Windy </a></h3>
   
        <h3><a href='testrobot'> testrobot </a></h3>

        <h3><a href='javascript'> Javascript </a></h3>
        
        <h3><a href='windybase'> Tests     </a></h3>
        <h3><a href='clear'    > Clear     </a></h3>

        <!-- <h3><a href='windleaf'> windleaf </a></h3>
        <h3><a href='testvent2'> testvent2 (simplifié)  </a></h3>
        <h3><a href ="newconnection">Ajout Nouvelle Connection au routeur </a></h3> 
        <h3><a href ="listconnections">Liste des connections precedentes</a></h3> -->
    </body>

    <script>
 //document.getElementById('selectc').innerHTML=selectcourse
    </script>
</html>